@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');


.title {
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    padding-top: 40px;
    padding-left: 77px;
    font-style: bold;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Space Mono', monospace;
    justify-content: space-around;
    padding: 50px;
}

.container__img img{
    margin: 50px;
    width: 450px;
    height: 450px;
}

.title2{
    margin: 50px;
    font-size: 50px;
    line-height: 95px;
}

.container__text {
    font-size: 24px;
    margin: 50px;
    color:#4F4F4F;
}

.btn {
    font-family: 'Space Mono', monospace;
    font-size:14px;
    margin: 50px;
    width: 220px;
    height: 68px;
    background: #333333;
    color: #ffffff;
    border: none;
    border-radius:15px;
}

@media only screen and (max-width: 600px) {
    .title {
        padding-top: 15px;
        padding-left: 20px;
    }

    .container {
        display: flex;
        justify-content: center;
        flex-direction:column;
        flex-wrap: wrap;
        padding: 20px;
    }
    .container__img img{
        margin: 10px;
        width: 300px;
        height: 300px;
    }
    .title2{
        margin: 10px;
        font-size: 30px;
        line-height: 70px;
    }
    .container__text {
        font-size: 18px;
        margin: 10px;
        color:#4F4F4F;
    }
} 